<div class="w-full bg-blue-950 py-12 px-28 pb-2 max-md:px-10">
    <div class="flex justify-between text-white max-sm:flex-col">
        <div class="flex flex-col gap-2">
            <span class="mb-10 font-medium text-lg">A propos de nous</span>
            <a href="">Acceuil</a>
            <a href="">Les hebergements</a>
            <a href="">Transports locaux</a>
            <a href="">Nos promotions</a>
            <a href="">FAQ</a>
        </div>
        <div class="flex flex-col gap-2">
            <span class="mb-10 font-medium text-lg">Contact</span>
            <a href="">101 Antananarivo - Madagascar</a>
            <a href="">tournave0gmail.com</a>
            <a href="">+261 32 00 000 00</a>
        </div>
        <div class="flex flex-col gap-2">
            <span class="mb-10 font-medium text-lg">Mention légal et politique</span>
            <a href="">Politique de confidentialité</a>
            <a href="">Condition général d’utilisation</a>
            <a href="">Politique des coockie</a>
        </div>
    </div>

    <div class="flex justify-between text-white mt-16 border-y-[1px] border-gray-500 py-7 max-sm:flex-col max-sm:gap-5"> 
        <div class="flex items-center gap-3 max-sm:flex-col ">
            <span>Envoyer du newsletter</span>
            <div  class="flex bg-white">
                <input type="text" placeholder="Votre e-mail" class="px-4 py-1 outline-none text-gray-600">
                <button class="bg-blue-900 px-4 py-1  text-white m-[1px]">Envoyer</button>
            </div>
        </div> 
        <div class="flex text-white items-center gap-2">
            <span class="font-medium text-xl">Suivez-nous</span>
            <img class="w-6 h-6" src="https://img.icons8.com/m_rounded/512/FFFFFF/facebook-new.png" alt="">
            <img class="w-6 h-6" src="https://img.icons8.com/?size=100&id=SHyLjLUNhdQx&format=png&color=FFFFFF" alt="">
            <img class="w-6 h-6" src="https://img.icons8.com/?size=100&id=59813&format=png&color=FFFFFF" alt="">
        </div>
    </div>


    <p class="text-white text-center mt-12 text-sm underline font-medium max-md:text-[9px]">Copyright - 1992-2024 tournave.comTM. Tous droit reserves.</p>

</div>
