<div class="w-full px-28 pb-14 max-md:px-10">
    <h3 class="text-3xl font-bold max-md:text-lg">Les questions les plus<br /> frequement poses</h3>
    <div class="flex items-center justify-between mt-12 py-10 max-md:flex-col max-md:gap-10">
        <img class="w-64 h-64 max-md:w-36 max-md:h-36 -rotate-45 rounded-2xl"
            src="https://img.freepik.com/vecteurs-libre/illustration-du-concept-furtif_114360-21688.jpg?t=st=1744350072~exp=1744353672~hmac=b78ef446882de9188d2bcd003d522468ee5984545eabac35f2566172c14a42e0&w=740"
            alt="">
        <div class="w-6/12 max-md:w-10/12">
            @for (item of faqs; track $index) {
            <div (click)="hideShow(item)" class="cursor-pointer border-b-[1px] border-gray-400 py-3 w-full">
                <span class="flex items-center justify-between select-none font-medium">{{item.question}}
                    @if (item.show===false) { <i class="material-icons text-2xl">keyboard_arrow_down</i>}
                    @else {<i class="material-icons text-2xl">keyboard_arrow_up</i>}

                </span>
                @if (item.show) {
                <span class="flex items-center border-l-[1px] border-gray-400 pl-3 mt-2 ml-2">{{item.reponse}}</span>
                }
            </div>
            }

        </div>
    </div>
</div>
