
<div
class="flex flex-col mt-6 rounded-3xl h-[350px] bg-cover bg-center bg-[url('https://static.wixstatic.com/media/512d59_7dc30ee22fda448f9d212b69a428f58e~mv2.jpg/v1/fit/w_361,h_203,q_90,enc_avif,quality_auto/512d59_7dc30ee22fda448f9d212b69a428f58e~mv2.jpg')]">
<div class="flex-grow gap-3 flex justify-center flex-col">
    <span class="ml-16 text-white text-3xl font-bold max-md:text-lg max-md:ml-2 max-md:mt-3">Explorer le monde avec nous <br />et Vivez une
        experience<br /> inoubliable</span>
    <button class="bg-blue-900 rounded-md w-fit text-white ml-16 py-1 px-4 max-md:my-3 max-md:m-auto">Demander un devis</button>
</div>

<form class="flex items-center w-full bg-white rounded-xl shadow-md max-md:flex-col">
    <span class="flex-grow flex items-center gap-3 px-3 py-4 ">
        <i class="material-icons text-2xl text-[#275259]">flight_takeoff</i>
        <input type="text" placeholder="Ou allez vous?" class="flex-grow outline-none">
    </span>
    <span class="h-9/12 bg-black opacity-25 w-[0.2px]"></span>
    <span class="flex-grow flex items-center gap-3 px-3 py-4 ">
        <i class="material-icons text-2xl text-[#275259]">calendar_month</i>
        <input type="text" placeholder="Date depart - Date arrivee" class="flex-grow outline-none">
    </span>
    <span class="h-9/12 bg-black opacity-25 w-[0.2px]"></span>
    <span class="flex-grow flex items-center gap-3 px-3 py-4 ">
        <i class="material-icons text-2xl text-[#275259]">person</i>
        <input type="text" placeholder="Adulte - enfant - chambres" class="flex-grow outline-none">
    </span>
    <button type="submit" class="px-6 py-4 text-white bg-blue-900 rounded-r-xl max-md:w-full max-md:rounded-l-xl">Recherche</button>
</form>
</div>
