<div class="px-28 max-md:px-10">
    
    <!-- NAVIGATION BAR -->
    <app-navigation></app-navigation>

    <!-- ACTIVITIES -->
    <app-activities></app-activities>

    <!-- DEVIS -->
    <app-devis></app-devis>

    <!-- POPULAIRE -->
    <app-populaire></app-populaire>

    <!-- OFFRE SPECIALE -->
    <app-offre-special></app-offre-special>

</div>

<!-- LES FAVORIS -->
<app-favoris></app-favoris>

<!-- AVIS -->
<app-avis></app-avis>

<!-- FAQ -->
<app-faq></app-faq>

<!-- FOOTER -->
<app-footer></app-footer>