<div class="mt-12">
    <h2 class="text-2xl font-bold max-md:text-lg">Les destinations populaires</h2>
    <p class="max-md:text-[12px]">Voici des idee pour votre prochain voyage</p>
    <div class="flex flex-grow gap-5 mt-4 max-md:flex-col ">
        <div
            class="flex items-end pl-5 pb-5 text-white font-medium text-lg h-60 rounded-xl bg-cover bg-center flex-grow bg-[url('https://makila-production.s3.amazonaws.com/uploads/images/hotels/1725540557-2-8148/miavana_20by_20time_20tide_listing.jpg')]">
            <span>Nosy be</span>
        </div>
        <div
            class="flex items-end pl-5 pb-5 text-white font-medium text-lg h-60 rounded-xl bg-cover bg-center flex-grow bg-[url('https://www.quizz.biz/uploads/quizz/1831869/medium/1.webp?1725393317')]">
            <span>Morondava</span>
        </div>
    </div>
    <div class="flex flex-grow gap-5 mt-4 max-md:flex-col">
        <div
            class="flex items-end pl-5 pb-5 text-white font-medium text-lg h-60 rounded-xl bg-cover bg-center flex-grow bg-[url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSWHkOP6f2pV2JUnY844I5K2nkuLyXCFOhrRepQCuF3Six3mdto')]">
            <span>Sainte Marie</span>
        </div>
        <div
            class="flex items-end pl-5 pb-5 text-white font-medium text-lg h-60 rounded-xl bg-cover bg-center flex-grow bg-[url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQ_QTRpuZEApK2VZ0ILruk8HSe0IeVwN_HMyg5jB_IuFaDIgyux')]">
            <span>Majunga</span>
        </div>
        <div
            class="flex items-end pl-5 pb-5 text-white font-medium text-lg h-60 rounded-xl bg-cover bg-center flex-grow bg-[url('https://cms.moov.mg/uploads/Travellers_Worldwide_isalo_9b766a6728.webp')]">
            <span>Isalo</span>
        </div>
    </div>
</div>
